@import "../../../style/values";
@import "../../../style/colors";
@import "../../../style/fonts";

.earth-ctn {
  position: relative;
  width: $viewportWidth;

  .earth-main-text-ctn {
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: $viewportWidth;
    z-index: 16;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 3.96%, rgba(255, 255, 255, 0.8) 8.53%, rgba(255, 255, 255, 0.8) 12.76%, rgba(255, 255, 255, 0.8) 18.74%, rgba(255, 255, 255, 0.8) 26.82%, rgba(255, 255, 255, 0.413028) 39.96%, rgba(255, 255, 255, 0) 57.56%);

    .earth-text-inner-ctn {
      box-sizing: border-box;
      padding-top: $section_top_margin;
      display: flex;

      > div {
        flex: 1;
      }


      h2,p {
        color: $dark_green;
      }

      h4 {
        color: $green;
      }
    }

    .earth-selector-ctn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1rem;
      display: flex;
      justify-content: center;
      gap: 0.3rem;

      .earth-selector {
        width: 32px;
        height: 8px;
        background: $grey_light;
        border-radius: 4px;
      }

      .earth-selector:hover {
        cursor: pointer;
        background: $dark_green !important;
      }
    }

  }

  .earth-bg-ctn {
    position: relative;
    height: 100vh;
    width: $viewportWidth;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .earth-bg-ctn1 {
    background-image: url("../../../images/rzepichy_zielen.png");
  }

  .earth-bg-ctn2 {
    background-image: url("../../../images/rzepichy_eko_transport.png");
  }

  .earth-bg-ctn3 {
    background-image: url("../../../images/rzepichy_innowacyjny_dach.png");
  }

  .earth-bg-ctn4 {
    background-image: url("../../../images/rzepichy_rekuperacja.png");
  }

  .earth-bg-ctn5 {
    background-image: url("../../../images/rzepichy_bez_gazu.png");
  }

  .earth-inner-text-ctn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 16px;
    background: $grey_light;
    border-radius: 5px;

    p,h5 {
      color: $grey_dark;
    }

    h5 {
      font-family: $poppins_font;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
    }

    p {
      font-family: $poppins_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
    }
  }

  .earth-text-ctn1 {
    position: absolute;
    left: 35vw;
    bottom: 20vh;
    width: 200px;
  }

  .earth-pointer-1 {
    position: absolute !important;
    left: 150px !important;
    top: 10px !important;
    width: 230px;
  }

  .earth-pointer-mobile-1 {
    display: none !important;
  }

  .earth-text-ctn2 {
    position: absolute;
    left: 32vw;
    bottom: 22vh;
    width: 200px;
  }

  .earth-pointer-2 {
    position: absolute !important;
    left: 100px !important;
    bottom: -70px !important;
    width: 230px;
  }

  .earth-text-ctn3 {
    position: absolute;
    right: 8vw;
    bottom: 20vh;
    width: 200px;

    .earth-inner-text-ctn {
      background: $dark_green;

      p, h5 {
        color: white;
      }
    }
  }

  .earth-pointer-3 {
    position: absolute !important;
    left: -190px !important;
    bottom: 80px !important;
    width: 200px;
  }

  .earth-pointer-mobile-3 {
    display: none !important;
  }

  .earth-text-ctn4 {
    position: absolute;
    right: 10vw;
    bottom: 15vh;
    width: 200px;
  }

  .earth-pointer-4 {
    position: absolute !important;
    left: -190px !important;
    bottom: 80px !important;
    width: 200px;
  }

  .earth-pointer-mobile-4 {
    display: none !important;
  }

  .earth-text-ctn5 {
    position: absolute;
    right: 20vw;
    bottom: 10vh;
    width: 200px;
  }

  .earth-pointer-5 {
    position: absolute !important;
    left: -240px !important;
    bottom: 20px !important;
    width: 250px;
  }

  .earth-pointer-mobile-5 {
    display: none !important;
  }

  @media (max-width: $mobile_width) {
    .earth-text-inner-ctn {
      flex-direction: column;

      p {
        margin-top: 1rem;
      }
    }

    .earth-text-ctn1 {
      left: unset;
      right: 10vw;
      bottom: 25vh;
      width: 200px;
    }

    .earth-pointer-1 {
      display: none !important;
    }

    .earth-pointer-mobile-1 {
      display: block !important;
      position: absolute !important;
      left: 20px !important;
      bottom: 170px !important;
    }

    .earth-text-ctn2 {
      left: 10vw;
    }

    .earth-text-ctn3 {
      left: unset;
      right: 5vw;
      bottom: 15vh;
      width: 200px;
    }

    .earth-pointer-3 {
      display: none !important;
    }

    .earth-pointer-mobile-3 {
      display: block !important;
      position: absolute !important;
      left: -100px !important;
      bottom: 150px !important;
    }

    .earth-text-ctn4 {
      right: unset;
      left: 5vw;
      bottom: 10vh;
      width: 200px;
    }

    .earth-pointer-4 {
      display: none !important;
    }

    .earth-pointer-mobile-4 {
      display: block !important;
      position: absolute !important;
      right: -170px !important;
      bottom: 150px !important;
    }

    .earth-text-ctn5 {
      right: unset;
      left: 5vw;
      bottom: 20vh;
      width: 200px;
    }

    .earth-pointer-5 {
      display: none !important;
    }

    .earth-pointer-mobile-5 {
      display: block !important;
      position: absolute !important;
      right: -120px !important;
      bottom: 0 !important;
    }
  }
}
