@import "../../../style/values";

.earth-ctn {
  position: relative;
  width: $viewportWidth;

  .earth-main-text-ctn {
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 16;
  }

  .earth-bg-ctn {
    position: relative;
    height: 100vh;
    width: $viewportWidth;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity .5s ease-in-out;
  }
}
