@import "../../../style/values";
@import "../../../style/colors";

.multifunctional-ctn {
  background-color: $grey_dark;
  width: $viewportWidth;
  padding: 6rem 0 !important;
  min-height: unset !important;
  box-sizing: border-box;

  h4 {
    color: $grey_light;
  }

  h2,h3,p {
    color: #ffffff;
  }

  .multi-helper {
    width: $viewportWidth;
  }

  .multi-inner-ctn {
    display: flex;
  }

  .multi-slider-ctn {
    position: relative;
    width: 45%;
    margin: 0 calc(10% - 45px) 0 45px;

    .multi-slide {
      box-sizing: border-box;
      background: $grey_dark;
      border: 4px solid $grey;
      border-radius: 8px;
      padding: 2rem;

      h3 {
        color: $grey_light;
      }

      p {
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .icon-ctn {
        display: flex;
      }

      .facility-icon {
        width: 60px;
        height: 60px;

        img {
          width: 60px;
          height: 60px;
        }
      }

      .icon-text-ctn {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .multi-text-ctn {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    p {
      margin-top: 2rem;
    }
  }

  @media (max-width: $tablet_width) {
    min-height: unset !important;

    .multi-inner-ctn {
      flex-direction: column-reverse;

      .multi-slider-ctn {
        width: unset;
        margin: 2rem 0 0;

        .facility-icon {
          width: 37px;
          height: 37px;

          img {
            width: 37px;
            height: 37px;
          }
        }

        .mapCtn {
          height: 300px !important;
        }
      }

      .multi-text-ctn {
        width: unset;
      }
    }
  }
}

.slick-dots li {
  width: 32px !important;
  height: 8px !important;
  margin: 0 2px !important;
}

.slick-dots li button {
  opacity: 1 !important;
  width: 32px !important;
  height: 8px !important;
  border-radius: 4px !important;
  content: '' !important;
}

.slick-dots li button::before {
  opacity: 1 !important;
  width: 32px !important;
  height: 8px !important;
  background: $grey_light !important;
  border-radius: 4px !important;
  content: '' !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  background: $grey !important;
}

.custom-slider-arrow {
  right: -45px !important;
  width: 31px !important;
  height: 31px !important;
  background: $grey_light !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: $grey_dark !important;
}

.custom-slider-arrow:hover {
  color: $grey_dark !important;
}

.custom-slider-arrow-right {
  right: -45px !important;
}

.custom-slider-arrow-left {
  left: -45px !important;
}

.slick-prev:before {
  content: '' !important;
}

.slick-next:before {
  content: '' !important;
}

.gm-fullscreen-control,
.gmnoprint,
.gm-style-cc {
  display: none;
}

@media (max-width: $tablet_width) {
  .custom-slider-arrow-right {
    right: -10px !important;
  }

  .custom-slider-arrow-left {
    left: -10px !important;
    z-index: $below_menu_z_index;
  }
}

