$main_color: #354DCA;
$main_text_color: #ffffff;
$main_bg_color: #1B1B1B;

$dark_green: #0D322E;
$green: #1D5246;
$dark_brown: #32100C;
$brown: #4F2410;
$grey: #595758;
$light_gray: #D3D2D1;
$grey_dark: #2F2C2D;
$grey_light: #EEF4F3;
