@import "colors";
@import "fonts";
@import "values";

html, body {
  margin: 0;
  padding: 0;
  font-family: $main_font;
  background-color: $main_bg_color;
}

.main-ctn {
  position: relative;

  h1,h2,h3,h4,h5,h6,p,a,button {
    color: $main_text_color;
    padding: 0;
    margin: 0;
    font-family: $main_font;
  }

  .content-ctn {
    max-width: $max_width;
    margin: 0 auto;
  }

  @media (max-width: $max_width) {
    .content-ctn {
      max-width: unset;
      margin: 0 $content_horizontal_margin;
    }
  }
}
