@import "colors";
@import "fonts";
@import "values";

html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.main-ctn {
  position: relative;
  width: $viewportWidth;

  h1,h2,h3,h4,h5,h6,p,a,button {
    padding: 0;
    margin: 0;
  }

  section {
    margin: 0;
    padding: 0;
  }

  .content-ctn {
    max-width: $max_width;
    margin: 0 auto;
  }

  h1 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: $grey_dark;
  }

  h2 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
  }

  h3 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
  }

  h4 {
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grey_light
  }

  p {
    font-family: $poppins_font;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 175%;
    color: $grey_dark;
  }

  button, a {
    font-family: $poppins_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $grey_dark;
  }

  @media (max-width: $max_width) {
    .content-ctn {
      max-width: unset;
      margin: 0 $content_horizontal_margin;
    }
  }

  @media (max-width: $tablet_width) {
    h1 {
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 39px;
    }

    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.05em;
    }

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 11.8276px;
      line-height: 150%;
      letter-spacing: 0.05em;
    }

    h4 {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 28px;
      line-height: 30px;
    }

    p {
      font-size: 13px;
    }

    button, a {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
