@import "../style/values";
@import "../style/colors";

.menu-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 2rem;
  z-index: $menu_z_index;

  .logo {
    width: 60px;
    height: 60px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .menu-link-ctn {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    button, a {
      background-color: transparent;
      border: none;
      text-decoration: none;
    }

    button:hover, a:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  @media (max-width: $mobile_width) {
    .menu-link-ctn {
      gap: 1rem;
    }
  }
}

.sticky-menu-ctn {
  position: fixed;
  background-color: $grey_light;
  width: 100%;
  z-index: 201;
  transition: all 0.5s ease-in-out;

  .menu-ctn {
    position: unset;
    padding: 0.5rem 0;
  }

  .logo {
    width: 40px;
    height: 40px;

    img {
      width: 40px;
      height: 40px;
    }
  }
}
